* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.blue-header {
    background-color: #0707ed;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: #333;
    padding: 25px;
}

.sidebar {
    background-color: #000000;
    padding: 25px;
    width: 100%;
}

}

.sidebar ul {
    margin: 0;
    padding: 0;
}


.sidebar li {
    margin-bottom: 10px;
    font-size: 24px;
    list-style-type: none;
    color: white;
    font-family: 'Bowler', sans-serif;

}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    font