body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000;
}

header {
    background-color: #35ad23;
    color: #fff;
    padding: 2px;
    text-align: center;
}


.container {
    width: 80%;
    margin: 20px auto;
    padding-bottom: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.product {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
}

.product-details {
    margin-top: 10px;
}

form div {
    margin-bottom: 10px;
}

form input {
    padding: 5px;
    width: 100%;
}

form button {
    padding: 10px 20px;
    background-color: #35ad23;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #2e9d1f;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #35ad23;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.product-detail-page .product-detail {
    display: flex;
    align-items: flex-start;
    position: relative; /* Нужно для абсолютного позиционирования внутри */
}

.product-detail-page .product-image-container {
    margin-right: 20px; /* Отступ справа */
    margin-top: -20px; /* Отступ сверху */
}

.product-detail-page .product-image {
    width: 300px; /* Фиксированная ширина изображения */
    height: auto; /* Поддерживать пропорции изображения */
}

.product-detail-page .product-details {
    flex: 1;
    text-align: left; /* Выровнять текст влево */
    width: 250px;
    font-size: 20px; /* Увеличить размер текста */
}

.product-detail-page .product-price {
    margin: 0; /* Обнуление отступов */
    position: absolute; /* Абсолютное позиционирование */
    top: 300px; /* Регулируемый отступ сверху */
    left: 0px; /* Регулируемый отступ слева */
}
