<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Магазин</h1>
    </header>

    <div class="container">
        <div class="products">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        <p>Контакты: email@example.com | Телефон: +14881488</p>
    </footer>
</body>
</html>
