{% extends 'index.html' %}

{% block content %}
    {% for product in products %}
        <a href="ваша_ссылка.html" class="product-link">
            <div class="product">
                <img src="{{ url_for('static', filename='img/' + product[4]) }}" alt="{{ product[1] }}" class="product-image">
                <div class="product-details">
                    <h2>{{ product[1] }}</h2>
                    <p>{{ product[2] }}</p>
                    <p><strong>Цена: {{ product[3] }} грн</strong></p>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
